/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*global styles*/

body {
    background-image: url('img/back.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}
#mainpage {
    width: 80%;
    margin: auto;
}
.shadow{
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

/*navigation bar*/
#navbar {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    font-family: "Comfortaa", sans-serif;
    align-items: center;
    background-color: #ffff;
    position: relative;
}
#navicon {
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.nav_q{
    transition: 300ms;
    font-size: 18px;
}
.nav_q:hover{
    transform: scale(0.9);
}
.left_{
    margin-left: 10%;
}
#name {
    margin-left: 10%;
    display: flex;
    background-image: url(img/ecotil\ \(1\).png);
    height: 100px;
    width:100px;
    background-size: cover;
    cursor: pointer;
    transition: 300ms;
}
.profile_photo{
    border-radius: 60px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.signin{
    width: 80px;
    height: 40px;
    margin-right: 10%;
    background-color: #004F2D;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    transition: 300ms;
    cursor: pointer;
    border: 0px;
}
.signin:hover{
    background-color: transparent;
    border: #000 1px solid;
    color:#000;
    transform: scale(0.9);
}
/*main*/
#info_site{
    padding-top: 50px;
    width:100%;
    height: 600px;
    background-color: transparent;
    display: flex;
    align-items: center;
}
#text_inf{
    width:50%;
    font-family: 'Comfortaa', 'sans-serif';
    border-radius: 30px;
    margin-left: 30px;
}
#img_inf{
    width:50%;
    height:100%;
    background-image: url('img/info_img_001.png');
    background-size: cover;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
.name_inf{
    font-size: 35px;
    margin-bottom: 30px;
    color: #004F2D;
}
.txt_inf{
    font-size: 20px;
}

#go_course{
    background-color: #004F2D;
    border-color: transparent;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    border-radius: 30px;
    color:#ffff;
    transition: 300ms;
    font-family: 'Comfortaa', 'sans-serif';
    cursor: pointer;
}
#go_course:hover{
    color: black;
    background-color: transparent;
    border: #004F2D 1px solid;
    transition: 300ms;
}


#news{
    display: flex;
    align-items: center;
    background-color: #198754;
    border-radius: 30px;
    color:#ffff;
}
#news_l{
    background: url("img/brand\ communication-amico.svg") no-repeat;
    height: 500px;
    width: 45%;
    background-position: center;
}
#news_r{
    width:50%;
    height:100%;
    color: #ffff;
}
#_news{
    font-size: 30px;
    font-family: 'Comfortaa', 'sans-serif';
    font-weight: 600;
    margin-bottom: 30px;
    color: #ffff;
}
#text_news{
    font-family: 'Comfortaa', 'sans-serif';
    font-size: 20px;
    color: #ffff;
}


/*leaderboard*/
#leaderboard{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#people_top_3{
    display: flex;
    position: relative;
}

.pfp_top{
    width:100px;
    height: 100px;
    border-radius: 60px;
    position: relative;
}